//Colors used:

$primary-color: #184799;
$orange: #ea904d;
$secondary-color: #0071b7;
$light-color: #f7f7f9;

//Fonts used:

$montserrat: 'Montserrat';
$lato: 'Lato';

//Other styles:

$border-radius: 20px;


//image

$bg-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background-design_23-2148419781.jpg");
$sq-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background_23-2148434268.jpg");

#ma-nav{
    color: $primary-color;
    font-weight: 500;
    font-size: larger;
}

#this-nav{
    color: $secondary-color;
    font-weight: 500;
    font-size: larger;
}

.nav-container{
    margin-top: 1%;
    font-family: 'montserrat','sans-serif';
    padding-left: 3%;
    padding-right: 3%;
}

.home-container{
    padding-left: 3%;
    padding-right: 3%;
}

.bg-light {
    background-color: #ffffff!important;
}

.navbar-collapse{
    justify-content: flex-end !important;
}

.form-search-home{
    border-radius: $border-radius !important;
    border-color: transparent;
}

#button-search-home{
    margin-left: -18%;
    color: grey;
    border-color: transparent;
    &:hover{
        background: transparent;
    }
}

.home-menu{
    background-color: white;
    max-height: 35em;
    min-height: 35em;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-home-menu{
    background-color: white;
    max-height: 35em;
}

.data-home-menu{
    background-color: $light-color;
    max-height: 35em;
    border-radius: $border-radius;
}

.menu-item{
    display: flex;
    flex-direction: row;
    //background-color: lightblue;
    vertical-align: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    font-family: $lato;
    font-weight: 600;
    color: lightgray;
    padding: 5%;
    &:hover{
        color: $orange;
    }
}

.menu-item-active{
    display: flex;
    flex-direction: row;
    //background-color: lightblue;
    vertical-align: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    font-family: $lato;
    font-weight: 600;
    color: white;
    background-color: $primary-color;
    padding: 5%;
}

.menu-option-text{
    margin-left: 10%;
}

.home-ranking{
    border-color: transparent;
}

.table-container{
    margin-top: 10%;
    background-color: $light-color;
    border-radius: $border-radius;
    font-family: Lato;
    margin-bottom: 9%;
    padding-bottom: .5%;
    padding-top: 3.5%;
}

table{
    background-color: $light-color;
}

table .pos-col{
    width: 25px;
    text-align: left;
    color: $primary-color;
}
table .team-col{
    max-width: 30%;
    text-align: left;
    color: $primary-color;
}

table .prevp-col{
    display: none;
}

table .points-col{
    max-width: 25px;
    text-align: center;
    color: $primary-color;
}

table .change-col{
    width: 1px;
    text-align: right;
    color: $primary-color;
}

.table-sm td, .table-sm th {
    padding: 0.1rem;
}

.table-shield{
    max-width: 100%;
    max-height: 100%;
}

.shield-col{
    height: 26px;
    max-width: 15px;
    text-align: center;
}

.welcome{
    //background-color: $primary-color;
    background-image: $bg-img;
    max-height: 125px;
    border-radius: 20px;
    padding: 6%;
    font-family: $lato;
    font-size: 200%;
    color: white;
}

.statistic-container{
    background-color: $light-color;
    border-radius: $border-radius;
    background-size: auto;
}

.central-container{
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sc-right{
    margin-left: 5%;
}

.right-col{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-color;
    background-size: cover;
    border-radius: $border-radius;
    background-size: auto;
    font-family: $lato;
    color: $primary-color;
}

.statistic-container-left{
    background-image: $bg-img;
    border-radius: $border-radius;
    background-size: auto;
    color: white;
    font-family: lato;
    padding: 6%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h9{
        margin-left: 169px;
    }
}