//Colors used:

$primary-color: #29527c;
$light-color: #f7f7f9;

//Fonts used:

$montserrat: 'Montserrat';
$lato: 'Lato';

//Other styles:

$border-radius: 20px;


//image

$bg-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background-design_23-2148419781.jpg");
.nav-container{
    margin-top: 2%;
    font-family: 'montserrat','sans-serif';
    padding-left: 3%;
    padding-right: 3%;
}

.home-container{
    padding-left: 3%;
    padding-right: 3%;
}

.bg-light {
    background-color: #ffffff!important;
}

.navbar-collapse{
    justify-content: flex-end !important;
}

.form-search-home{
    border-radius: $border-radius !important;
    border-color: transparent;
}

#button-search-home{
    margin-left: -18%;
    color: grey;
    border-color: transparent;
    &:hover{
        background: transparent;
    }
}

.home-menu{
    background-color: red;
    max-height: 35em;
}

.main-home-menu{
    background-color: white;
    max-height: 35em;
}

.data-home-menu{
    background-color: $light-color;
    max-height: 35em;
    border-radius: $border-radius;
}

.menu-item{
    display: flex;
     background-color: lightblue; 
     /* border-radius: 9px; */
    vertical-align: center;
    /* justify-content: center; */
    align-items: center;
    margin: 10%
}

.home-ranking{
    border-color: transparent;
}

.table-container{
    margin-top: 10%;
    background-color: $light-color;
    border-radius: $border-radius;
    font-family: Lato;
    margin-bottom: 10%;
    padding-bottom: .5%;
    padding-top: 3.5%;
}

table{
    background-color: $light-color;
}

table .pos-col{
    width: 25px;
    text-align: left;
    color: $primary-color;
}
table .team-col{
    max-width: 30%;
    text-align: left;
    color: $primary-color;
}

table .points-col{
    max-width: 25px;
    text-align: center;
    color: $primary-color;
}

table .change-col{
    width: 25px;
    text-align: right;
    color: $primary-color;
}

.table-sm td, .table-sm th {
    padding: 0.1rem;
}

.table-shield{
    max-width: 100%;
    max-height: 100%;
}

.shield-col{
    height: 26px;
    max-width: 15px;
    text-align: center;
}

.welcome{
    //background-color: $primary-color;
    background-image: $bg-img;
    max-height: 125px;
    border-radius: 20px;
    padding: 6%;
    font-family: $lato;
    font-size: 200%;
    color: white;
}

.statistic-container{
    background-color: white;
    border-radius: $border-radius;
}

.central-container{
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sc-right{
    margin-left: 5%;
}

.right-col{
    background-color: #f7f7f9;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: lato;
    color: $primary-color;
    max-height: 35em;
    min-height: 35em;
}