//Colors used:

$primary-color: #184799;
$orange: #ea904d;
$secondary-color: #0071b7;
$light-color: #f7f7f9;

//Fonts used:

$montserrat: 'Montserrat';
$lato: 'Lato';

//Other styles:

$border-radius: 20px;


//image

$bg-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background-design_23-2148419781.jpg");
$sq-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background_23-2148434268.jpg");


.match-container{
    display: flex;
    max-height: 20px;
    flex-direction: row;
}

.shield-img{
    max-width: 100%;
    max-height: 100%;
}

table .team-col-group-rmatch{
    width: 30%;
    text-align: right;
    color: $primary-color;
}

table .change-col-group-match{
    width: 30%;
    text-align: center;
    color: #184799;
}