//Colors used:

$primary-color: #184799;
$orange: #ea904d;
$secondary-color: #0071b7;
$light-color: #f7f7f9;

//Fonts used:

$montserrat: 'Montserrat';
$lato: 'Lato';

//Other styles:

$border-radius: 20px;


//image

$bg-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background-design_23-2148419781.jpg");
$sq-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background_23-2148434268.jpg");

.welcome-ranking{

   //background-color: $primary-color;
    background-image: $bg-img;
    height: 48px;
    border-radius: 10px;
    font-family: $lato;
    font-size: 100%;
    color: white;
}

.btn-ranking-name{
    background: transparent;
    color: $primary-color;
    padding: 0;
    border-color: transparent;
    &:hover{
        background: transparent;
        color: $primary-color;
        font-weight: 800;
        border-color: transparent;
    }
    &:focus{
        border-color: transparent;
    }
    &:active{
        border-color: transparent;
    }
}