//Colors used:

$primary-color: #184799;
$orange: #ea904d;
$secondary-color: #0071b7;
$light-color: #E3EDF7;

//Fonts used:

$montserrat: 'Montserrat';
$lato: 'Lato';

//Other styles:

$border-radius: 20px;


//image

$bg-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background-design_23-2148419781.jpg");
$sq-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background_23-2148434268.jpg");

.shield-stats{
    display: flex;
    align-items: center;
    max-height: 200px;
    border-radius: 12px;
    box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8), -8px -8px 16px rgba(255, 255, 255, 0.8);
    --gray: #797d7f;
    background-color: var(--background);
    padding-top: 5%;
    padding-bottom: 5%;
}

.profile-shield{
    box-shadow: 4px 4px 4px rgba(165, 177, 198, 0.8),-4px -4px 4px rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: auto;
    background-color: white;
}

.shield-height{
    height: 75px;
}

.shield-stats h2,
.shield-stats h5, h4
{
  color: var(--gray);
  font-family: "Questrial", sans-serif;
}

.shield-stats h2{
    font-size: 1.3rem;
}

.shield-stats h5{
    font-size: 0.8rem;
}

.upper-stats-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.classColor{
    width: 4px;
    height: 50px;
    background-color: goldenrod;
    padding: 0;
}

.matches-team-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.best-participation{
    background: linear-gradient(70.72deg, #FFFFFF -30.86%, #ECF1F7 -10.72%, #CFDCEB 112.31%);
    box-shadow: inset 4px 4px 6px rgba(18, 46, 101, 0.1), inset -4px -4px 4px rgba(255, 255, 255, 0.7);
    //box-shadow: 4px 4px 4px rgba(165, 177, 198, 0.8),-4px -4px 4px rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.best-participation p{
    margin: 0;
}

.fashield{
    color: var(--gray);
}

.btn-next{
    display: flex;
}

.table-teaminfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table-info{
    display: flex;
    flex-direction: column;
}