.main{
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.container-info-team{
    box-sizing:border-box;
    min-width: 30em;
    max-height: 38.5em;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 4px 14px 3px rgba(0, 0, 0, 0.2);
    padding: 5%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
}

.big-container-info-team{
    box-sizing: border-box;
    max-height: 38.5em;
    background-color: #171738;
    border-radius: 5%;
    box-shadow: 0 4px 14px 3px rgba(0, 0, 0, 0.2);
    padding: 3%;
}

.col-left{
    padding-right: 0;
}

.col-right{
    padding-left: 0;
}

.options-teams{
    font-family: 'Montserrat', sans-serif;
}

.options-button{
    background-color: transparent;
    border-color: transparent;
    font-size: 150%;
}

.container-shield-team{
  text-align: center;
  //margin-left: 20%;
}

.shield{
    height: 10em;
    margin-top: 10%;
    margin-bottom: 10%;
}

#team-name{
    font-size: 2.5rem;
    font-family: Lato;
    font-weight: 800;
    color: #171738;
  }