//Colors used:

$primary-color: #184799;
$orange: #ea904d;
$secondary-color: #0071b7;
$light-color: #f7f7f9;

//Fonts used:

$montserrat: 'Montserrat';
$lato: 'Lato';

//Other styles:

$border-radius: 20px;


//image

$bg-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background-design_23-2148419781.jpg");
$sq-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background_23-2148434268.jpg");


.main{
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.container-info-team{
    box-sizing:border-box;
    min-width: 30em;
    max-height: 38.5em;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 14px 3px rgba(0, 0, 0, 0.2);
    padding: 5%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
}

.big-container-info-team{
    box-sizing: border-box;
    max-height: 38.5em;
    background-color: #171738;
    border-radius: 30px;
    box-shadow: 0 4px 14px 3px rgba(0, 0, 0, 0.2);
    padding: 3%;
}

.col-left{
    padding-right: 0;
}

.col-right{
    padding-left: 0;
}

.options-teams{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5%;
}

.options-button{
    background-color: transparent;
    border-color: transparent;
    font-size: 150%;
    &:hover{
        transform:translatey(-5px);
        background-color: transparent;
        border-color: transparent;
        border-bottom-color: white;
        border-bottom-width: 100%;
    }
}

.container-shield-team{
  text-align: center;
  //margin-left: 20%;
}

.shield{
    height: 10em;
    margin-top: 10%;
    margin-bottom: 10%;
}

#team-name{
    font-size: 2.5rem;
    font-family: Lato;
    font-weight: 800;
    color: #171738;
  }

  .card-header{
      background-color: transparent;
      display: flex;
      flex-direction: row;
    }
.card-shield{
    height: 3em;
    width: auto;
    margin-left: auto;
}

.card-full{
    border-radius: 30px
}

.card-champsub{
    display: flex;
    flex-direction: row;
}

.tournament-card{
    text-align: center;
    padding-top: 5%;
}

.card{
    border-radius: 30px !important;
}   

.profile-shield{
    max-height: 100%;
    max-width: 100%;
}

.team-img-container{
    height: 150px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.team-prof-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
}

.home-raking{
    background: transparent;
    color: $primary-color;
}

.team-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.upper-part{
    display: flex;
    justify-content: center;
}


.stats-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
      -12px -12px 24px 0 rgba(255, 255, 255, 1.5);
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
  }

  
.neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
      inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  }
  
  .variation1 {
    background: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.2),
      rgba(255, 255, 255, 0.3)
    );
  }
  
  .variation1 span {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    padding: 0.65rem;
    box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
      inset -8px -8px 16px 0 rgba(255, 255, 255, 0.4);
  }
  
  .variation1 strong {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    background-color: #f13c20;
    color: white;
  }
  
  .variation1.pressed strong {
    background-color: #bb3c20;
  }
  
  .variation2 {
    justify-content: space-around;
    align-items: center;
  }
  
  .variation2 span {
    display: block;
    padding-bottom: 1.5rem;
    position: relative;
    font-size: 3rem;
  }
  
  .variation2 span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 0.3rem;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: currentColor;
  }
  
  .variation2.pressed {
    color: #5ab9ea;
  }

  .up-shield{
    max-height: 200px;
    max-width: 200px;
}

.circle-stats{
    height: 80px;
    width: 80px;
    border-radius: 140px;
}

.icon-class-team{
    position: absolute;
    color: red;
    margin-left: 115px;
}

