//Colors used:

$primary-color: #184799;
$orange: #ea904d;
$secondary-color: #0071b7;
$light-color: #f7f7f9;

//Fonts used:

$montserrat: 'Montserrat';
$lato: 'Lato';

//Other styles:

$border-radius: 20px;


//image

$bg-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background-design_23-2148419781.jpg");
$sq-img: url("https://image.freepik.com/free-vector/abstract-classic-blue-background_23-2148434268.jpg");

.shield-stats{
    display: flex;
    align-items: center;
    max-height: 200px;
    border-radius: 12px;
    box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8), -8px -8px 16px rgba(255, 255, 255, 0.8);
    --gray: #797d7f;
    background-color: var(--background);
    padding-top: 5%;
    padding-bottom: 5%;
}

.profile-shield{
    box-shadow: 4px 4px 4px rgba(165, 177, 198, 0.8),-4px -4px 4px rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    height: 75px;
    width: auto;
    background-color: white;
}

.shield-stats h2{
  color: var(--gray);
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
}

.shield-stats h5{
    color: var(--gray);
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
}

.shield-stats h2::after {
    background-color: var(--gray);
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 10%;
    width: 80%;
    height: 1px;
    opacity: 0.2;
  }

.upper-stats-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap");

.container {
  --background: #e0e5ec;
  --gray: #797d7f;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
}



.card h2,
.card h3,
.card p {
  color: var(--gray);
  font-family: "Raleway", sans-serif;
}

.card h2 {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  opacity: 0.8;
  margin: 1rem 0;
}
.card h3 {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 1.05rem;
  opacity: 0.8;
  margin: 1rem 0;
}

.card h3::after {
  background-color: var(--gray);
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 10%;
  width: 80%;
  height: 1px;
  opacity: 0.2;
}

.card p {
  font-size: 0.85rem;
  padding: 1rem;
  text-align: center;
  line-height: 1.2;
}
*/